:root {
  /* constructor de paletas: https://m3.material.io/theme-builder#/custom */
  /* primary */
  --primary: #d0bcff;
  --on-primary: #381e72;
  --primary-container: #4f378b;
  --on-primary-container: #eaddff;
  /* secondary */
  --secondary: #ccc2dc;
  --on-secondary: #332d41;
  --secondary-container: #4a4458;
  --on-secondary-container: #e8def8;
  /* tertiary */
  --tertiary: #efb8c8;
  --on-tertiary: #492532;
  --tertiary-container: #633b48;
  --on-tertiary-container: #ffd8e4;
  /* error */
  --error: #f2b8b5;
  --on-error: #601410;
  --error-container: #8c1d18;
  /* background */
  --background: #1c1b1f;
  --on-background: #e6e1e5;
  --surface: #1c1b1f;
  --on-surface: #e6e1e5;
  --outline: #938f99;
  --surface-variant: #49454f;
  --on-surface-variant: #cac4d0;
  /* constantes */
  --shape-corner: 12px;
}

body {
  background-color: var(--on-primary);
  color: var(--on-background);
  width: 300px;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--on-secondary-container);
}

button {
  user-select: none;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  border: 1px solid var(--primary-container);
  padding: 6px;
  margin: 4px;
  border-radius: var(--shape-corner);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button:hover {
  border: 1px solid var(--primary);
}
button:disabled,
button[disabled] {
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
  border: 1px solid var(--surface-variant);
  cursor: default;
}
.btn-error {
  background-color: var(--on-error);
  color: var(--error);
  border: 1px solid var(--on-error);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  background-color: var(--on-tertiary);
  color: var(--on-tertiary-container);
  /* border-bottom: 1px solid var(--outline); */
}

.logo {
  display: flex;
  align-items: center;
  float: left;
}

.user-info {
  user-select: none;
  display: flex;
  align-items: center;
  float: right;
  height: 32px;
}

.logo-name {
  margin-left: 4px;
  width: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 106%;
}

#user-name {
  cursor: pointer;
  max-width: 130px;
  margin-right: 6px;
  font-weight: bold;
  font-size: 14px;
}
#user-img {
  cursor: pointer;
  border-radius: 100%;
}

.error {
  color: var(--error);
}

#btn-connection {
  margin: 0 6px 0 0;
}
.disconnect {
  padding: 0;
  background-color: transparent;
  color: var(--tertiary);
  border: none;
  font-weight: lighter;
  font-size: 12px;
  float: right;
}
.disconnect:hover {
  border: none;
}
