:root {
  /* constructor de paletas: https://m3.material.io/theme-builder#/custom */
  /* primary */
  --primary: #d0bcff;
  --on-primary: #381e72;
  --primary-container: #4f378b;
  --on-primary-container: #eaddff;
  /* secondary */
  --secondary: #ccc2dc;
  --on-secondary: #332d41;
  --secondary-container: #4a4458;
  --on-secondary-container: #e8def8;
  /* tertiary */
  --tertiary: #efb8c8;
  --on-tertiary: #492532;
  --tertiary-container: #633b48;
  --on-tertiary-container: #ffd8e4;
  /* error */
  --error: #f2b8b5;
  --on-error: #601410;
  --error-container: #8c1d18;
  /* background */
  --background: #1c1b1f;
  --on-background: #e6e1e5;
  --surface: #1c1b1f;
  --on-surface: #e6e1e5;
  --outline: #938f99;
  --surface-variant: #49454f;
  --on-surface-variant: #cac4d0;
  /* constantes */
  --shape-corner: 12px;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  width: 300px;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  border: 1px solid var(--primary-container);
  padding: 6px;
  margin: 4px;
  border-radius: var(--shape-corner);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button:hover {
  border: 1px solid var(--primary);
}
button:disabled,
button[disabled] {
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
  border: 1px solid var(--surface-variant);
  cursor: default;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
}

.logo {
  float: left;
}

.user-info {
  display: inline-block;
  float: right;
}

.icon {
  margin-right: 10px;
}

.name {
  font-weight: bold;
}
